<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="file" value="d:\"/>
  </appSettings>
  <connectionStrings>
    <!--SQL Server数据库配置-->
    <add name="ConString" connectionString="Data Source=127.0.0.1;Initial Catalog=master;User ID=sa;Password=123456"/>
    <!--MYSQL数据库配置-->
    <add name="MysqlConString" connectionString="server = localhost;port=3306;User Id = root;password = 123456;Database = INFORMATION_SCHEMA"/>
</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>